<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Ground fee paid list</h1>

  <% if (typeof errorMessage !== "undefined") { %>
  <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
  <p class="alert alert-success" role="alert"><%= successMessage %></p>
  <% } %>

  <div class="container">
    <div class="row">
      <% bookedRecords.forEach(function(records){ %>
        <% if(records.payment === true){ %>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="data:records/<%=records.img.contentType %>;base64,<%= records.img.data.toString("base64")%>">
              <div class="card-body">
                <h5 class="card-title">Full Name:<%=records.name%></h5>
                <p class="card-text">Email:<%=records.email%></p>
                <p class="card-text">Phone Number:<%=records.phone%></p>
                <p class="card-text">Date:<%=records.date%></p>
                <p class="card-text">Time:<%=records.time%></p>
                <p class="card-text">Day:<%=records.day%></p>
                <form action="/confirmBookedUserList" method="POST">
                <button name="done" value="<%=records._id%>" type="submit" class="btn btn-primary">Done</button>
                </form>
              </div>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
