<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Reset Password</h1>

  <% if (typeof errorMessage !== "undefined") { %>
  <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
  <p class="alert alert-success" role="alert"><%= successMessage %></p>
  <% } %>

  <div class="container">
    <div class="row">
      <form action="/forgotPassword" method="POST">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" value="<%=(typeof inputData!='undefined') ? inputData.email: ''%>">
          <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.email!="undefined") ? errors.email.msg: ""%></p>
        </div>

      <button name="reset" value="reset" type="submit" class="btn btn-primary">Reset</button>
      </form>
  </div>
</div>

<%- include('partials/footer') %>
