<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Ground Booked Details</h1>

  <% if (typeof errorMessage !== "undefined") { %>
  <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
  <% } %>

  <div class="container">
    <div class="row">
      <% bookedRecords.forEach(function(records){ %>

      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Full Name:<%=records.name%></h5>
            <p class="card-text">Date:<%=records.date%></p>
            <p class="card-text">Time:<%=records.time%></p>
            <p class="card-text">Day:<%=records.day%></p>
            <% if(records.isConfirm === true){ %>
            <%  var status = "Booked" %>
            <% }else{ %>
            <% var status = "Not Booked" %>
            <% } %>
            <p class="card-text">Status:<%=status%></p>
            <% if(records.payment === true){ %>
            <%  var status = "Paid" %>
            <% }else{ %>
            <% var status = "Not paid" %>
            <% } %>
          </div>
        </div>
      </div>

      <% }) %>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
