<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Payment Form</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/userPaymentForm" method="POST" enctype="multipart/form-data">

            <% if (typeof errorMessage !== "undefined") { %>
            <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
            <% } %>
            <% if (typeof successMessage !== "undefined") { %>
            <p class="alert alert-success" role="alert"><%= successMessage %></p>
            <% } %>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" value="" required>
            </div>

            <div class="form-group">
              <label for="image">Upload Image</label>
              <input type="file" id="image" class="form-control" name="image" value="" required>
            </div>

            <button type="submit" class="btn btn-dark">Done</button>
          </form>

        </div>
      </div>
    </div>

  </div>

</div>

<%- include('partials/header') %>
